[2017-03-09 20:19] dansand71 opened #18 "OMS Agent will not pick up the new Docker CE and DC editions with new versions"
Last week Docker released new versions of their engine.  When this new version 1.17* is installed however the OMS agent does not recognize that version and exits...

[2017-03-14 15:14] dwaiba commented on #18
It does receive the new versions... Details here -> https://github.com/Azure/azure-docker4azureoms

[2017-03-15 19:47] keikhara commented on #18
Hi @dansand71, we will get back you on this. We have a checker within our script which needs to support the latest version change on docker.

[2017-03-17 20:53] keikhara commented on #18
@dansand71  We will provide a new fix asap. We will keep you posted. thanks,

[2017-03-20 12:01] edevil opened #21 "Release new image for 1.3.1-15a"
I've noticed that there are already placeholders for the 1.3.1-15a release, but the Dockerfile still references an older version.

[2017-03-20 14:28] edevil commented on #21
The "latest" microsoft/oms image already has ruby 2.3.3, so I guess it is the latest version, but there's no tag.

[2017-03-30 17:44] keikhara commented on #21
@edevil  1.3.1-15a is not official. Please do not use that version. We will have a new one call 1.3.2-15. We will provide by today.

[2017-03-30 17:48] keikhara commented on #18
@dansand71 can you try microsoft/oms:test image? This hot fix should eliminate the issue.
thanks,

[2017-03-31 17:08] #21 closed

[2017-03-31 22:22] keikhara commented on #18
@dansand71  this is now fixed.

[2017-03-31 22:22] #18 closed

[2017-04-18 21:32] andrefernandes opened #27 "Instructions for docker swarm"
I used the command on a swarm manager create with Docker for Azure template:

    swarm-exec  docker run --privileged -d -v /var/run/docker.sock:/var/run/docker.sock -e WSID="MY_ID" -e KEY="MY_KEY" -h=`hostname` -p 127.0.0.1:25225:25225 --restart=always microsoft/oms

Seems to work fine (all nodes show up on OMS portal). If it is correct could you please add this the the docs?

[2017-05-02 12:30] jauco opened #28 "no containerlogs found after launching kubernetes daemonset"
I applied the oms yaml file as described in the readme. I have a connection for each of the nodes. I can also query for the node information such as amount of memory available.

However I cannot get any of the container specific logs. I'd especially like to be able to see the stdout logs of the individual containers. But if I do a query like `Type=ContainerLog` I get 0 results.

Do I need to confi

[2017-05-05 12:59] edevil opened #29 "OMS agent kubernetes daemonset is not collecting host journald logs"
I setup the daemonset as per the [instructions](https://github.com/Microsoft/OMS-docker/blob/master/Kubernetes/omsagent.yaml) but the daemon is not collecting the kubernetes' hosts journald logs. Is there a way to collect these as well?

[2017-05-05 20:24] lastcoolnameleft opened #30 "OMSAgent + K8S + deallocation issue"
I have a sandbox ACS K8S cluster that I stop and deallocate to save money.

The issue is that when I start the cluster up again, the cluster comes up fine and the OMSAgent starts; however, OMS does not show any connected sources.  (Even after hours of waiting)

To fix the issue, I must delete the OMS Daemon Set and then re-deploy.

Here's the logs from one of the OMS Agent containers:
2017-05-05T1

[2017-05-11 20:17] jauco commented on #29
is it collecting the logs of the other containers?

[2017-06-06 00:19] bencalegari opened #42 "Version number?"
What is the best way to discover what version of the OMS agent you're running? Currently there is no --version flag on the agent cli so you have to do a lot of work just to confirm you're using the latest version. Any plans on adding that?

[2017-06-09 23:21] keikhara commented on #42
Hi @bencalegari , you can do docker inspect on omsagent container. We have labels which provides the version and you will see what is the latest via our release note.

[2017-06-09 23:21] #42 closed

[2017-06-09 23:28] keikhara commented on #30
hi @lastcoolnameleft , it seems like there is an issue with onboarding to OMS. Did you pass in the OMS Workspace ID and Primary? Looking at the logs, it did not do that. Please go thru our yaml file and our docs. https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-oms

if you still have issues, please let us know.

[2017-06-09 23:29] keikhara commented on #29
@edevil
we are aware of this. We have a new bits which should be out next week. We will keep you informed when it is out. Meanwhile, if you like to test it, it is microsoft/oms:leaf.

regards,

[2017-06-09 23:30] keikhara commented on #28
@jauco We have a new fix which will come in soon. We should have this next week.
meanwhile, if you like to test this, it will be microsoft/oms:leaf

thanks,

[2017-06-09 23:33] keikhara commented on #27
@andrefernandes I will add a docker swarm instructions. Will keep you noticed.
It should be

docker service create  --name omsagent --mode global  --mount type=bind,source=/var/run/docker.sock,destination=/var/run/docker.sock  -e WSID="<WORKSPACE ID>" -e KEY="<PRIMARY KEY>" -p 25225:25225 -p 25224:25224/udp  --restart-condition=on-failure microsoft/oms

we will have docker compose file soon.

[2017-06-10 07:50] edevil commented on #29
@jauco yes, it collects logs of containers

@keilhara great news. Will these "new bits" also include fetching kubernetes metadata such as namespace name and pod name? :)

[2017-06-11 04:10] lastcoolnameleft commented on #30
@keikhara I have been able to successfully onboard to OMS, the issue is when I stop and restart the cluster (which happens when I try to save resources by not having the cluster running all the time).  There appears to be an issue with the restarting/re-registering the cluster.

[2017-06-13 00:54] kevinlisota opened #43 "Docker container logs stop reporting with OMS agent"
I have two VM's and 4 docker containers being monitored by OMS using the OMS agent for Linux.

When I start a container, it sends containerlog data to OMS for about a day or so and then stops sending it, or at least nothing is being collected in the OMS portal

The containers are still running fine and the VM hosts continue to report their stats to OMS.

Restarting the containers restarts the cont

[2017-06-13 20:03] keikhara commented on #30
@lastcoolnameleft It would be good if you send us step by step so we can reproduce it.

[2017-06-14 20:28] vglafirov opened #44 "container log contains sensitive information"
Docker container logs print out workspace key in plain text:

[code]

[2017-06-15 00:18] keikhara commented on #43
@kevinlisota which version of the OMS Agent are you using? We have done some fixes for the container logs.

[2017-06-15 00:25] kevinlisota commented on #43
Both of my VM hosts are running 1.35-127 of the OMS agent for Linux. VM host data is being collected. So is container inventories.

It is just the container logs themselves that will stop after about a day of collection.

[2017-06-15 00:51] samisms commented on #44
Please use latest image. This has been addressed. https://github.com/Microsoft/OMS-docker/pull/47

[2017-06-15 00:51] #44 closed

[2017-06-15 01:23] keikhara commented on #29
@edevil  Not yet. This new bits are part the latest tag now and they are mainly bug fix. Release note is updated.

[2017-06-15 01:49] keikhara commented on #43
@kevinlisota Is this agent on the host rather than the containerzied linux agent? Is that is the case, we will be adding the fix to the linux agent by the end of this month.

[2017-06-15 20:24] samisms commented on #30
@lastcoolnameleft I tried it both on clusters created through azure portal and through acs-engine. Stopping and restarting the vms didnt affect the omsagent container. It was successfuly redeployed and onbaorded. Any step I am missing ?

[2017-06-24 16:35] kevinlisota commented on #43
Correct, the agent is on the host. It is not containerized. I'll watch for this fix

[2017-06-27 14:51] atld opened #53 "Custom logs support"
Hi,

I am using containerized OMS agent running on a Docker for Azure Swarm cluster. I tried to configure Custom log forwarding using this documentation: https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-sources-custom-logs
Unfortunately, it is not working. Should this be supported by containerized OMS agent, or only by "native" OMS agent or by Azure VM OMS extension?

Thank

[2017-06-29 22:55] keikhara commented on #43
@kevinlisota  we are looking to add the fix in the next release which is slated in few days. Will keep you posted.

[2017-06-29 22:56] keikhara commented on #27
@andrefernandes Added to the dockerswarm folder. Please go there.
Thanks.

[2017-06-29 22:56] #27 closed

[2017-07-01 01:40] phagunbaya opened #54 "How to setup HTTP proxy server setting for OMS docker container"
I'm using kubernetes cluster and deploying omsagent as daemonset. How do I configure HTTP proxy server setting for oms container to use ?

https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#configuring-the-agent-for-use-with-an-http-proxy-server

[2017-07-06 00:18] keikhara commented on #43
@kevinlisota new release of the oms agent is out. 1.4.0-12 version.
Please try this and let us know whether this works. This should have the fix.
https://github.com/Microsoft/OMS-Agent-for-Linux/releases

[2017-07-06 00:19] samisms commented on #53
Is your log file on the host ? Are you mounting it into the omsagent container ?

[2017-07-16 20:05] kevinlisota commented on #43
Thanks @keikhara. This update seems to have fixed it.

[2017-07-16 20:05] #43 closed

[2017-07-18 04:47] LukeDearden opened #59 "Support for K8s Windows Containers"
Please add support for Windows Containers to monitor ACS K8s

[2017-07-25 01:06] keikhara commented on #59
@LukeDearden

Hi Luke, you can run the windows agent and collect data on K8s.
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-containers#windows-container-hosts

please go thru the docs. You will need to install directly on the host.

thanks,

[2017-07-25 01:07] keikhara commented on #28
Closing case.

[2017-07-25 01:07] #28 closed

[2017-07-29 21:25] artisticcheese opened #64 "Please provide examples for Windows Containers"
Need more examples about deploying and utilizing containers with OMS on Windows.
I have Windows swarm running with Windows containers. It's 100% Microsoft+docker environment. Not even scent of Linux. And here we are asking Microsoft to provide documentation how to support their oldest baby.

[2017-08-01 01:00] keikhara commented on #64
We don't have a containerized agent for Windows Agent.
For Windows, you will need to install the Agent on each host.
Here's the doc for this. https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-containers#windows-container-hosts

[2017-08-18 11:05] anushkaee opened #67 "Error response in Docker swarm in Azure container Service"
Hi,
when i try to run OMS agent in Azure Container Service swarm cluster  master node.
command: docker service create  --name omsagent --mode global  --mount type=bind,source=/var/run/docker.sock,destination=/var/run/docker.sock  -e WSID="myid" -e KEY="mykey" -p 25225:25225 -p 25224:25224/udp  --restart-condition=on-failure microsoft/oms

it displays an error message: Error response from daemon: 4

[2017-08-18 22:06] keikhara commented on #67
@anushkaee can you provide details on steps you've taken?
OMS requires WSID and KEY to be inserted. Have you add those when running docker run?

thanks,

[2017-08-18 22:06] keikhara commented on #29
closing. It will be in next release.

[2017-08-18 22:06] #29 closed

[2017-08-21 09:01] anushkaee commented on #67
@keikhara

 I did following steps,

1.	Provisioned the OMS using below link,
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft.containersoms

2.	Collected the WSID and Primary_key from OMS Portal  --> Settings --> Connected Sources

3.	I followed below documentation to configure OMS with Azure Container service  (DockerSwarm).
               https://docs.microsoft.com/en-us/a

[2017-08-24 01:24] samisms commented on #30
Closing due to inactivity.

[2017-08-24 01:24] #30 closed

[2017-08-24 01:28] samisms commented on #53
Closing due to inactivity

[2017-08-24 01:28] #53 closed

[2017-08-24 01:28] #64 closed

[2017-08-25 01:18] lastcoolnameleft commented on #30
My apologies for not commenting on the step-by-step for reproducing the problem.  If I encounter again, I'll be sure to update.

[2017-08-25 01:28] lastcoolnameleft opened #70 "Running and Stopped container instances duplicated in Dashboard"
I'm running OMS-Docker on Minikube and see incorrect counts for Running and Stopped containers:

NOTE:  I'm using Minikube; however, I don't think that should matter.

* Create a new MiniKube instance
* Install Nginx
* Install oms-docker.yml
* Verify Container status is updated
* kubectl delete po/omsagent  (Some logs were not going to OMS, so I tried to restart to see if that fixed it)
* Search f

[2017-08-25 01:36] lastcoolnameleft opened #71 "Application Logs not getting forwarded to OMS"
Here's the steps I ran:

NOTE:  I'm running on Minikube, which should not matter, but noting just in case.

* Create Minikube cluster
* kubectl create -f oms-daemonset.yaml
* kubectl run nginx --image nginx
* minkube service list
  * Get IP:Port
* Curl IP:port from minikube service list
* kubectl logs po/nginx
  * Validate logs are running being generated
* Search "ContainerLog", but access logs a

[2017-08-25 17:46] lastcoolnameleft commented on #70
To be clear, the list of # of running and stopped containers doubled after the steps above.

[2017-08-29 02:47] keikhara commented on #71
Hi @lastcoolnameleft, do you have the logs go to stdout/stderr? Also which version of the agent is this?

thanks

[2017-08-29 03:34] lastcoolnameleft commented on #71
@keikhara Yes, this is using vanilla nginx which defaults logging to stdout.

[code]

[2017-09-06 23:14] keikhara commented on #70
@lastcoolnameleft we've pushed an update to fix the UI. Can you look at it again?

[2017-09-07 09:18] easonlai opened #72 "Custom Log support for Docker OMS Agent"
Any plan to make custom log support for Docker OMS Agent? I have deployed OMS Agent daemon set into my ACS Kubenetes cluster. I would like to get some log output from containers.

Thanks

[2017-09-14 13:06] artisticcheese commented on #59
You can not install directly on the host if you run in ACS.

[2017-09-14 18:34] keikhara commented on #59
@artisticcheese We have been testing it. We will be providing a documentation for the Windows Kubernetes soon.

[2017-09-25 03:02] wandergeek opened #75 "Logs not making it up to Container Monitoring Solution"
Hello,

I'm having issues getting any of my logs to reach the _Container Logs_ section of Container Monitoring Solution. Im guessing this is because the agent is sending the logs using the ContainerLogs data type? I can see some logs coming thru on _syslog_ but all of the docker information is lost.

I'm running the OpenLogic CentOS 7.3 image, and have selinux disabled. I am not doing any fancy or

[2017-09-29 15:17] lagalbra opened #76 "Issues with Docker Redeploys"
Re-raised from https://github.com/Microsoft/OMS-Agent-for-Linux/issues/579

Really hoping someone can point me in the right direction here, every time we redeploy our docker instances our SCX logs at (/var/opt/microsoft/scx/log/scx.log) beging to fill very rapidly with the following messages:

2017-09-29T15:02:39,523Z Error [scx.core.common.pal.system.disk.statisticallogicaldiskinstance:##########

[2017-09-29 15:19] kevi5702 commented on #76
Thanks for moving this @lagalbra

[2017-10-02 09:29] edevil opened #77 "OMS Agent does not detect Kubernetes orchestrator"
I run the OMS Agent in all vms (masters and nodes) but the agent log shows that it doesn't detect that it is running inside Kubernetes:

[code]

Is there some configuration variable for this?

[2017-10-02 17:48] kevi5702 commented on #76
Digging around this error seems to match the code here in the PAL software:

https://github.com/Microsoft/pal/blob/master/source/code/scxsystemlib/disk/statisticallogicaldiskinstance.cpp#L269

I'm wondering if /var/lib/docker/overlay/ needs to be added to excludes somewhere.

I was able to reproduce this on a new centos image with fresh OMS deploy and just running a basic hello world container.

R

[2017-10-02 19:28] kevi5702 commented on #76
Running a test based on the old removal tasks for disks I was able to clean this up w/o restarting omid.service:

`[root@dockercentos log]# /opt/omi/bin/omicli iv root/scx { SCX_FileSystem } RemoveByName { Name /var/lib/docker/overlay/######/merged }
instance of SCX_FileSystem
{
    Caption=File system information
    Description=Information about a logical unit of secondary storage
    [Key] Name

[2017-10-03 17:12] lagalbra opened #78 "Segfaults of omiagent when running on Kubernetes/CoreOS"
Originally filed at https://github.com/Microsoft/OMS-Agent-for-Linux/issues/585 by @edevil

[code]

Container version: "microsoft/oms:1.4.1-45"
OS: Container Linux by CoreOS stable (1465.8.0)

I can e-mail the core files but I'm not inclined to share them publicly.

@edevil Please email the core files to @keikhara and @samisms

[2017-10-03 17:30] edevil commented on #78
[code]

[2017-10-03 17:33] lagalbra commented on #78
Oops, my bad. The correct email address is OMScontainers@microsoft.com

[2017-10-03 17:37] samisms commented on #78
@edevil you can email me (samis@microsoft.com)

[2017-10-03 21:27] samisms commented on #77
Is this ACS ?

[2017-10-03 21:30] samisms commented on #76
Raised https://github.com/Microsoft/SCXcore/issues/89 with scx provider. Closing this here.

[2017-10-03 21:30] #76 closed

[2017-10-03 21:31] samisms commented on #78
@edevil Can you provide details of your system ?
OS version
docker version
docker images
docker ps -a

[2017-10-04 09:53] edevil commented on #77
No, I have my own Kubernetes deployment script on Azure.

https://github.com/edevil/kubernetes-deployment

[2017-10-04 09:57] edevil commented on #78
OS version: Container Linux by CoreOS 1465.8.0 (Ladybug)
Docker version:
[code]
[code]
[code]

[2017-10-10 21:56] dvohra commented on #67
The Swarm mode has to be initialized on the Azure "Swarm master".

[2017-10-26 19:35] MoimHossain opened #81 "OMS portal shows errors for doke"
Hi I am trying to connect my swarm cluster with OMS, I followed the instruction and ran the swarm service (global) - but I receive error messages on OMS portal like following:

[code]

What's going wrong here?

[2017-11-06 11:33] lmiroslaw opened #83 "Bad Argument Error when deploying OMSAgent"
When deploying OMS as described here:
https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-monitor

I get the following error:
{"error":{"message":"The request had some invalid properties","code":"BadArgumentError","innererror":{"code":"SyntaxError","message":"Syntax Error","information":{"details":"{\"error\":{\"code\":\"Bad request\",\"message\":\"Request is invalid and cannot be execu

[2017-12-02 16:55] johnsontnc opened #84 "Issue on CentOS 7.4.1708 - omsagent service failing to start due to filter_docker_log?"
So, OMSAgent seemed to fill up my /var with core dumps since I installed docker a while back.
It seems the prior version of omsagent instead of failing to start, was simply segfaulting every few minutes (looks remarkably like https://github.com/Microsoft/OMS-Agent-for-Linux/issues/315 ).

I purged a bunch of the core files to free up some space, and then I uninstalled OMSagent, and reinstalled. Th

[2018-01-25 14:29] andy-a-o opened #89 "Docker container logs not being collected"
## 1st case. Standalone Ubuntu server

1. Docker installed via apt.
2. Few containers are running.
3. OMS docker container running via command

`docker run --privileged -d -v /var/run/docker.sock:/var/run/docker.sock -v /var/log:/var/log e WSID="..." -e KEY="..." -p 127.0.0.1:25225:25225 -p 127.0.0.1:25224:25224/udp --name="omsagent" -h=test --restart=always microsoft/oms`

 - just as described he

[2018-01-25 17:48] andy-a-o commented on #89
So.. I suggest using Docker API instead of reading files

https://docs.docker.com/engine/api/v1.35/#operation/ContainerLogs

[2018-01-28 20:32] andy-a-o commented on #89
Finally switched to Kubernetes and it works fine.

[2018-02-07 17:21] adhodgson1 opened #91 "Errors in omsagent-ds-secrets.yaml"
Hi,

Having trouble with deploying latest OMS agent to Kubernetes with omsagent-ds-secrets.yaml

Git commit: cd9103e415b0de4c278c47b3091a0a0d063f2da7 (HEAD -> master, origin/master, origin/HEAD)

First error:
C:\repo\oms-docker\Kubernetes>kubectl apply -f omsagent-ds-secrets.yaml
error: error converting YAML to JSON: yaml: line 31: found a tab character that violate indentation

Fixed that then ra

[2018-02-08 07:46] Hinton opened #92 "Ignore logs from certain containers (kube-svc-redirect)"
In Azure Container Service (AKS), the built in service `kube-svc-redirect` generates a huge amount of logs, more than 500k daily. Which fills up mos the free quota of Azure Log Analytics.

Since those logs are of no particular value to us, I would like a way to be able to specify that a specific container should not have their logs collected. Possibly using kubernetes annotations on `kube-svc-redi

[2018-02-08 14:36] edevil commented on #77
ping @keikhara

[2018-02-08 15:55] keikhara commented on #77
@edevil We will have a new agent coming soon. Will let you know.

[2018-02-08 15:57] dizdeveloper commented on #75
Having the same issue not able to see container logs in OMS portal or log search. Please look into it.

[2018-02-08 16:05] edevil commented on #77
@keikhara Ok, that's good to know. But can you share with us how the agent will detect if it's running inside Kubernetes? Is it a configuration flag? Do I have to create the cluster machines with a specific name?

[2018-02-08 17:50] vishiy commented on #77
@edevil Do you see any errors in /var/opt/microsoft/docker-cimprov/log/kubernetes_client_log.txt ?

[2018-02-08 18:20] edevil commented on #77
@vishiy
[code]

[2018-02-08 18:25] vishiy commented on #77
@edevil - Thanks! It looks like we look for  string 'k8' in computer name to detect it as k8s.
Thanks to @samisms . I will create a bug to do it in a more reliable way.

[2018-02-12 14:08] edevil commented on #77
@vishiy I have tried creating a cluster with the names omsagent expects:

[code]

However, I still see NO k8s related information reported in the OMS portal:

<img width="1045" alt="screen shot 2018-02-12 at 14 06 52" src="https://user-images.githubusercontent.com/12426/36100410-124695f6-0ffe-11e8-9a5c-26dd662153be.png">

I'm using version oms:1.4.3-174 of the OMS agent.

[2018-02-14 01:52] davidobrien1985 commented on #59
@keikhara is this already available?
I deployed the yaml in the windows directory and it failed to deploy with `No nodes are available that match all of the following predicates:: MatchNodeSelector (2). `

[2018-02-22 23:30] keikhara commented on #92
@Hinton thank you for the feedback. Let us put that to our backlog.

[2018-02-22 23:31] keikhara commented on #91
@adhodgson1 we did fix the yaml file for line 31.

For the second piece, let us look into it.

[2018-02-22 23:32] keikhara commented on #89
For docker swarm, we realized there is a bug, We will be looking at this. For kubernetes, we will be publishing agent which enhances logs and other data for kubernetes.

[2018-02-22 23:33] keikhara commented on #83
@lmiroslaw  can you provide us more info this? We like to try to reproduce this.

[2018-02-28 14:15] esuomi commented on #89
@keikhara Any careful estimate when the bug will be fixed for Docker Swarm Mode? Just hit this today :)

[2018-02-28 22:06] Stijnc commented on #75
@wandergeek and @dizdeveloper,

I had the issue as well and @keikhara pointed me to the [release notes](https://github.com/Microsoft/OMS-docker/blob/master/ReleaseNote.md#due-to-the-backend-changes-for-container-monitoring-with-oms-agent-for-linux-and-it-is-a-fresh-install-you-will-need-to-run-this-workaround) fresh install workaround.

re-onboarding the oms agent copied the container.conf file to

[2018-03-01 17:10] keikhara commented on #89
@esuomi Can you try this with a different image tag? microsoft/oms:universe

[2018-03-01 18:29] pushkar-bitwise commented on #53
@samisms I am also trying to fwd log to OMS using docker OMS agent, so in order to collect logs from different container i need to mount volume from host container in both OMS and application container, please advice, as i can't see anything on this

[2018-03-02 08:53] esuomi commented on #89
Hi @keikhara I tried both universe and Feb28 tags and neither seemed to work. The reason I tried latter is because the universe tag is three months old and I had a bit of time to fiddle with this so thought why not... :)

[2018-03-05 19:23] devteng opened #95 "How to get Kubernetes (ACS-Engine) logs for pods to Log Analytics"
Hi, I have created an Kubernetes cluster using the ACS-Engine and created the OMSAgent daemonset using this Docker image. Is there an way to get newly created pods to send logs to Log Analytics? I see ContainerLogs for certain K8s services, but not any newly created pods. Not sure what the requirement is (Labels? Namespace?) for OMSAgent to pickup STDOUT/STDERR and push it to Log Analytics via OMS

[2018-03-06 05:45] mumarniaz opened #96 "Support for Application level metrics"
Hi,
Is there any support for application level metrics or custom metrics using Container Monitoring solution. I have checked this "HTTP Data Collector API" but i'm confused if it's the right API for custom metrics or not ?
Like in Prometheus, you can send custom application level metrics using client libraries provided by Prometheus.

[2018-03-06 14:13] leongyh commented on #92
There are a couple of additional AKS built in services that are also generating a lot of logs that we do not need.

- kube-svc-redirect
- hcp-tunnel-front
- hyperkube-amd64

As @Hinton suggested, perhaps a way to specify container names to collect logs from would be a great feature.

[2018-03-07 06:31] mfaizanse commented on #96
@keikhara can you share any info regarding this?

[2018-03-07 17:58] devteng commented on #95
Looks like a new image was pushed to Docker hub on 03/06/2018. I picked up microsoft/oms:Mar6th and created daemon set with that image. I can now see all the logs in ContainerLog in Log Analytics. Thanks!

[2018-03-07 17:59] #95 closed

[2018-03-11 17:49] HatemAlSum opened #97 "OC Commands is not updated"
odam command are no longer exists

[2018-03-13 12:54] paktek123 opened #99 "OMS agent dies within docker container, change main.sh"
Hi

I have been running OMS agent inside of docker as described in the docs. I soon realised that the OMS would die very frequently, even when upgraded to the latest version. The logs would say nothing. This is OMS agent running on ubuntu 16.04 on an Azure VM started via systemd. Right now the Dockerfile runs a `sleep inf && wait`:

https://github.com/Microsoft/OMS-docker/blob/master/1.4.4-210/mai

[2018-03-19 23:43] keikhara commented on #91
@adhodgson1  we will publish new yaml file to support apply.

[2018-03-23 08:39] sarojgharat commented on #89
Trying to use the microsoft/oms:latest version with kubernetes. But the container logs are not being collected. Any clues ?

[2018-03-23 10:52] sarojgharat opened #100 "ContainerLog not captured for OMSAgent configured in Kubernetes Cluster."
I am trying to run OmsAgent in a Kubernetes cluster. The OmsAgent is configured to send logs to Azure Oms portal. I am able to see logs of the type

Perf
ContainerProcess_CL
ContainerNodeInventory_CL
Heartbeat
Usage
Operation
KubePodInventory_CL
KubeEvents_CL

Was expecting the agent to also pull the container logs (which has application logs).  But not able to see  logs of the type "ContainerLog"

[2018-04-13 17:10] keikhara commented on #97
@HatemAlSum  let me test this and get this updated.

[2018-04-13 18:09] HatemAlSum commented on #97
Waiting your feedback

[2018-04-18 11:28] mumarniaz opened #103 "Network request and response"
Hi,

Is the OMS agent support capturing the network request and response b/w different containers running in the same cluster ?
for example, i have deployed multiple micro-services using containers in a Kubernetes cluster and now i want to collect data related to network request, response and failure b/w those micro-services.  Do OMS agent support that ?

[2018-04-19 07:28] mfaizanse commented on #103
I was searching for a similar thing but unable to find any solution. Do we need to use Application Insights for network/Http requests related metrics?

[2018-04-19 15:27] victornoel commented on #89
@keikhara any news on this issue?

[2018-04-19 15:27] victornoel commented on #89
(using swarm mode and latest oms image)

[2018-04-20 16:42] srhhyd commented on #70
I am experiencing the same issue when I create a OMS-Docker container on COREOS. I see container instances duplicated in the dashboard

[2018-04-20 21:15] srhhyd commented on #70
@keikhara I still experiencing the same problem when I create a OMS-agent as a docker container in Core OS vm.

[2018-04-20 21:16] srhhyd commented on #70
I am seeing docker container as a computer in the azure console

[2018-04-27 13:34] ionutgrecu-adv365 commented on #53
@pushkar-bitwise I'm trying to do the same thing. I can see the shared log file inside the container but I don't have any data in OMS Log Analytics.

[2018-04-27 14:07] ionutgrecu-adv365 commented on #75
@Stijnc I'm running the OMS inside a pod/container. I can see logs under ContainerLog, ContainerServiceLog, ContainerInventory, ContainerImageInventory but not the KubeEvents_CL and KubePodInventory_CL

[2018-04-27 14:14] ionutgrecu-adv365 commented on #100
@sarojgharat I have a similar situation. I can see logs of the type:
- ContainerLog
- ContainerServiceLog
- ContainerInventory
- ContainerImageInventory
but I don't see anything under
- KubeEvents_CL
- KubePodInventory_CL

[2018-05-02 15:36] rinormaloku commented on #100
Is this a WIP?

[2018-05-02 15:51] devteng commented on #100
Try using the "microsoft/oms:Mar6th" image to get the POD logs. They may have release a new version that contains the changes, but try that first.

[2018-05-02 15:54] devteng commented on #89
I used microsoft/oms:Mar6th and I am able to get the logs in Log Analytics from the PODS.

[2018-05-03 07:11] victornoel opened #110 "Add Volume to run commands to retain token/configuration between containers"
I am using the docker image to run a containerized oms agent.

When the image is updated, I have to re-run the container with the new image.

Apparently, the agent seems to redo the whole onboarding process and OMS seems to see two agents instead of one.

It would be interesting that all the initialisation data after the first start be stored in a volume so that it can be reused between containers

[2018-05-03 07:41] victornoel commented on #89
@devteng I think the problem is with swarm, not k8s.

For the record, I've tried latest version released 5 days ago but it's not fixing the problem.

[2018-05-09 17:40] vishiy commented on #89
I see 2 issues -
* Doc in github needs to be updated to a account for mounting the log volume
* Actual issue of  logs not being collected - this has been fixed with release on 4/27. Please pull latest/universe to pick up changes.

@victornoel - Anything other then latest & universe are not for public consumption. They are for internal test.

[2018-05-10 17:32] bragi92 commented on #89
updated the doc with `-v /var/lib/docker/containers:/var/lib/docker/containers`

[2018-05-11 06:52] victornoel commented on #89
@vimish when I said latest I meant the image with tag `latest` :)
@bragi92 thanks, I will experiment with this

[2018-05-11 06:53] victornoel commented on #89
@bragi92 does it apply also to swarm? In that case the documentation should be updated also for Swarm, no?

[2018-05-11 22:09] keikhara commented on #103
this is most likely with tracing. If you folks are interested, we can do some calls.

[2018-05-15 17:41] bragi92 commented on #89
@victornoel where you successful with your experiment?

[2018-05-16 09:11] victornoel commented on #89
@bragi92 the documentation was updated in the main README.md, but it's not clear what is the actual expected parameters for Swarm. For example, in the main README.md, `/var/log` is also mounted, while it is not for Swarm.
Would it be possible to get an up to date documentation for Swarm too before I can try?
Thanks :)

[2018-05-17 16:19] cyakimov commented on #78
We're seeing lots of `omiagent[45431]: segfault at 30 ip 00007fd96460f969 sp 00007ffeb9251820 error 4 in libcontainer.so[7fd9645c5000+87000]
` errors in AKS nodes as well

[2018-05-17 17:12] samisms commented on #78
@cyakimov I no longer work on this. Can you email OMScontainers@microsoft.com . You will get a quicker response there

[2018-05-21 12:50] kaipajo opened #116 "Update labels "agentVersion:" and "dockerProviderVersion:" in Openshift"
OMS-docker/OpenShift/ocp-omsagent.yaml hasn't been updated in while, using old agentVersion & dockerProviderVersion

  template:
    metadata:
      labels:
        name: omsagent
        **agentVersion: 1.4.0-45
        dockerProviderVersion: 10.0.0-25**

[2018-05-24 01:38] nsimmonds commented on #92
+1 on this

Part of the issue is that the logs are multiline for no real reason. They aren't stacktraces, there's no additional value from multiple lines. They also aren't indented after the first, the way a stacktrace would be. Even worse, the body of the log starts and ends with the same series of symbols, several plus signs, so there's no ability to regex a starting and ending line.

[2018-06-06 22:30] cricketfan5 opened #118 "VM not being monitored by OMS agent"
@here Can someone help me with the below issue ?
I am installing the omsagent as a daemonset kubernetes hosts. I was able to install successfully with no error at the time of installation but it is not turning in green(green tick mark in the portal stating it is being monitored). And I see below error

Error:Unsupported Operation system: COREOS 1632.2.1.
I am installing the OMSagent version(1.6.0-

[2018-06-08 04:11] cricketfan5 commented on #77
@here Can someone help me with the below issue ?
I am installing the omsagent as a daemonset kubernetes hosts. I was able to install successfully with no error at the time of installation but it is not turning in green(green tick mark in the portal stating it is being monitored). And I see below error in the this path

Error:Unsupported Operation system: COREOS 1632.2.1.
I am installing the  OMSag

[2018-06-08 04:12] cricketfan5 commented on #78
@here Can someone help me with the below issue ?
I am installing the omsagent as a daemonset kubernetes hosts. I was able to install successfully with no error at the time of installation but it is not turning in green(green tick mark in the portal stating it is being monitored). And I see below error in the this path

Error:Unsupported Operation system: COREOS 1632.2.1.
I am installing the  OMSag

[2018-06-11 17:55] cricketfan5 opened #122 "Daemonset on Master Node"
I was able to create a OMSagent as a Daemonset and they are working fine on worker nodes. But on master nodes i see below log in /var/log/waagent.log. But I see agent is running with workspace inside the pod.
2018/06/12 17:14:32.455868 INFO [HTTP Delay] Delay 15 seconds for Status Code 503
2018/06/12 17:14:32.477553 INFO [HTTP Retry] Attempt 2 of 3: [HTTP Retry] HTTP GET Status Code 503
2018/06/12

[2018-06-11 20:37] #118 closed

[2018-06-14 23:30] #122 closed

[2018-06-19 21:20] cyakimov commented on #89
Hi, we're also facing the same issue; Docker logs (stdout/stderr) not being fed to Log Analytics. Any thoughts on why's that?

Container is running in privileged mode with the following volume mounts:
[code]

OS: `CoreOS stable (1745.7.0)`
Docker: `18.03.1-ce`
OMS Image: `microsoft/oms:universe`

[2018-06-19 23:21] vishiy commented on #89
@cyakimov - Are you seeing any errors in /var/opt/microsoft/omsagent/log/omsagent.log ?

[2018-06-20 21:14] cyakimov commented on #89
No, seems to be tailing logs from the 3 containers we have running. But nothing pops up when we search `ContainerLog` in the logs.

[code]

[2018-06-20 21:32] vishiy commented on #89
thank you. can unpls check if the workspace has reached quota from azure portal? also are u seeing data other than logs from the same cluster?

[2018-06-20 21:44] cyakimov commented on #89
Is it possible that we have to enable `ContainerInsights` solution for the workspace in order to see container logs ?

[2018-06-20 22:03] vishiy commented on #89
@cyakimov - You need to add 'Container Monitoring Solution' to your workspace.
Please see here for more information - https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-containers

[2018-06-21 07:00] esuomi commented on #89
Hi,

By adding the `/var/lib/docker/containers:/var/lib/docker/containers` mount similar to @cyakimov  I now get the logs to Log Analytics which is great but Container Solution doesn't show anything making the readymade dashboard still a bit bleak.

There also seems to be an issue with multiline log entries but that's besides the point of this issue.

For reference, I'm running my Docker Swarm Mod

[2018-06-27 04:59] cricketfan5 opened #123 "OMSagent as a daemonset on Kubernetes cluster"
When we deploy a OMSagent as a daemonset it should turn green in the security center showing as VM is monitored by the OMSagent. And we are deploying OMSagent on a Kubernetes cluster with COREOS VM.
we are provisioning the vm with omsagent as extension and as extension doesn't work on coreos vm. we are deploying agent as a daemonset.
When we are having the extension and deploying the daemonset it

[2018-06-27 18:18] keikhara commented on #123
@cricketfan5 This agent is only focused to do container monitoring. For security, we will let you know who the contacts will be. At this moment, omsagent which security team uses does not support CoreOS.
Please see support matrix - https://github.com/Microsoft/OMS-Agent-for-Linux#supported-linux-operating-systems

[2018-06-27 18:23] keikhara commented on #116
@kaipajo We will look into this and get back to you.

[2018-06-27 18:31] keikhara commented on #100
@sarojgharat Can you provide more information about this? Are you running kubernetes on ACS or AKS?
What is your agent version?

[2018-06-27 18:34] keikhara commented on #97
@HatemAlSum this works on 3.9. Once OpenShift deprecate the command, we will update it.

[2018-06-27 18:34] #97 closed

[2018-06-27 18:36] #91 closed

[2018-06-27 18:38] keikhara commented on #92
@Hinton Are you using using Azure Monitor - container health in AKS.
https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health
We do not capture kube-system logs which includes kube-svc-redirect. Please try the container monitoring product.

[2018-06-27 18:38] #92 closed

[2018-06-27 18:38] #89 closed

[2018-06-27 18:41] keikhara commented on #83
This has been fixed. If you see the issue again, please reactive this.

[2018-06-27 18:41] #83 closed

[2018-06-27 18:43] keikhara commented on #81
This should be fixed by now. If you still seeing this issue, please reactive this issue.

[2018-06-27 18:43] #81 closed

[2018-06-27 18:46] cricketfan5 commented on #123
@keikhara Yes, it does not support CoreOS. So, I am installing it as a daemonset. when we install it as a daemonset does that turn green in the security center?. Thanks

[2018-06-27 18:48] keikhara commented on #78
@edevil Which version of the agent is this? Have you tried the latest which is 1.6.0-42?

[2018-06-27 18:51] keikhara commented on #75
Please try the latest agent and if there is any issues, please reach out again.

[2018-06-27 18:51] #75 closed

[2018-06-27 18:52] keikhara commented on #71
Please try the latest agent. If you have any issues, please reactive this.

[2018-06-27 18:52] #71 closed

[2018-06-27 18:54] keikhara commented on #70
@lastcoolnameleft Please try the latest agent. If you have any issues, please reactive this.

[2018-06-27 18:54] #70 closed

[2018-06-27 18:55] keikhara commented on #67
@anushkaee  Has this issue still resurfacing? If so, please reactive this issue.

[2018-06-27 18:55] #67 closed

[2018-06-27 18:58] keikhara commented on #54
Not supported at this moment.

[2018-06-27 18:58] #54 closed

[2018-06-27 20:47] #77 closed

[2018-06-27 20:48] edevil commented on #78
@keikhara Sorry, I'm not using Azure at this time.

[2018-06-28 10:50] HatemAlSum commented on #97
this issue occur with 3.6 version

[2018-06-28 20:47] BaloMueller opened #124 "omsagent on kubernetes in restart loop because of failed Liveness probe"
Hello,

I'm running the omsagent on a kubernetes cluster. Unfortunately the pod keeps getting restarted because the Liveness probe fails. Here is the message

[code]

I just used the template from this repository without secretes and replaced the two variables, no other changes.

Can you please help me?

[2018-07-03 18:45] cricketfan5 commented on #123
@keikhara when we install omsagent as a deamonset does it shows VM is now connected to Log analytics or we have to manually connect vm to Log Analytics.

[2018-07-05 10:27] chrfergen opened #125 "ContainerLog not collected in OMS (swarm mode)"
I will provide some more details related to the issue I'm facing.
See also the same issue opened in a different project due to error message "Two successive configuration applications from OMS Settings failed – please report issue to github.com/Microsoft/PowerShell-DSC-for-Linux/issues" https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues/415

Issue: I'm not able to collect "ContainerLog"

[2018-07-05 10:47] chrfergen commented on #125
Even trying the last pushed image for OMS:
microsoft/oms:rashminew
the issue persists.

[2018-07-10 11:23] tobiaskohlbau commented on #54
Why it's not supported? Is there a reason for not implementing this?

[2018-07-17 15:24] johnsontnc commented on #84
FYI, I resolved this a while back for myself. Not sure exactly what the cause was, but uninstalling omsagent, omsconfig, auoms, scx, and omi, and reinstalling seemed to clear things up.

I did also have a side-effect of a long-broken OMS client, in that rsyslogd had a massive backlog of messages to push, and refused to start... usually crashing out with:

[code]

But that was quickly resolved by p

[2018-07-17 15:24] #84 closed

[2018-07-18 09:08] ArtemProc opened #129 "oms agent inside dokcer troubleshooting"
Hello DEVs,

I would suggest to use Docker Volumes https://docs.docker.com/storage/volumes/ or other mechanism to store OMS Agent logs /var/opt/microsoft/omsagent/log /var/opt/microsoft/omsconfig/log and for omi service to HOST filesystem so we can have them for TS issues

[2018-07-24 19:42] salluvada commented on #100
Same problem here. I am able to find only the below log types when I try to do Log search on the Azure portal. I see that the ContainerLogs type is not being reported.

I tried using microsoft/oms:latest as well as one most recent push microsoft/oms:syslogfixnew. I have no luck with getting the ContainerLogs. I need them to be able to setup alerts based on Failed log messages.

Perf
ContainerProce

[2018-07-27 22:45] keikhara commented on #125
@bragi92 Can you please check whether this is doc issue.
thanks,

[2018-07-27 22:47] keikhara commented on #123
@cricketfan5 I responded to you on the other issues. This due to the containerized agent disabling dsc. This is not an error.

[2018-07-27 23:41] bragi92 commented on #125
Hey @chrfergen, which documentation did you follow to install the omsagent? It looks like '/var/lib/docker/containers' isn't mounted to the omsagent container and hence its not collecting the logs.

You'll need to add the mount path: as shown [here](https://github.com/Microsoft/OMS-docker/tree/master/Swarmmode) to be able to fetch logs.

[2018-07-30 08:23] chrfergen commented on #125
Dear @bragi92
thank you for the hint.
I have followed the documentation available at this URL: https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-containers#configure-an-oms-agent-for-docker-swarm
and with your suggestion I have discovered why I did the wrong configuration.

The command provided at this paragraph (**without** docker swarm secrets) https://docs.microsoft.com/en-us/a

[2018-07-30 08:23] #125 closed

[2018-08-11 09:39] ValRu commented on #100
Same problem here. I have aks 1.10.6
Running microsoft/oms:latest and getting only

Perf
KubePodInventory_CL
ContainerProcess_CL
KubeEvents_CL
ContainerNodeInventory_CL
Heartbeat
Operation

[2018-08-29 09:59] bsukramlitt commented on #100
I found out that this solution is not working with aks you have to use https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health instead

[2018-09-12 13:46] htuomola commented on #92
@keikhara we're using oms-agent (stable/msoms chart) on a Kubernetes cluster that was setup with acs-engine (not AKS) and the Container health solution with that. Is that something different to what you're referring to? I see a ton of logs from hyperkube-amd64, most of which provide little to no value. Some kind of config override to ignore logs would be great.

[2018-09-12 23:14] vishiy commented on #78
There are more segfaults in json parsing that we found and fixed that will be included in the upcoming releases.

[2018-09-12 23:16] vishiy commented on #100
yes, for AKS please try the 'container health' in AKS.
https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health

[2018-09-12 23:20] vishiy commented on #124
@BaloMueller - I see that the error is coming from a .go script. We dont use go for our liveness probe. Can you please clarify ?

[2018-09-13 19:05] vishiy commented on #78
all - for non-AKS containerized agent fixes - can you guys please try the below images which has seg fault fixes?
1.6.0-163
latest (as of 9/13/2018)

[2018-09-13 23:33] #123 closed

[2018-09-17 15:50] erewok commented on #100
I have the same issue: previously set it up using the `monitor-container-health` link inside Azure console for AKS. It previously worked, but now I am finding that logs of type `ContainerLog` are no longer being collected. This is problematic as we have alerts scanning those logs set-up to let us know of failures and I have to do it manually until this is fixed.

Versions:

AKS
Kubernetes 1.11.2
O

[2018-09-18 18:05] vishiy commented on #100
@erewok - Are you saying you dont see the 'Health' link in the menu ? I believe its renamed to 'Insights'.
Also you do not see any data in the health menu or just verbose logs from stdout/stderr for containers ?

[2018-10-10 07:48] tobiaskohlbau opened #149 "fluent-gem not working on latest release 1.6.0-163"
On latest version 1.6.0-163 it's not possible to install additional fluent addons with `fluent-gem`. Looks like an issue within https://github.com/Microsoft/OMS-Agent-for-Linux itself as the latest version states in it's release information:

I've created a change to incorporate 1.6.1-3 in this repository, PR is incoming.

[2018-11-29 18:29] seniorquico opened #172 "Configuring what to log in AKS"
I followed the installation guide (link below) to get Log Analytics working in a AKS instance using the Azure Portal (the automated, GUI approach).

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-onboard

Everything appears to be working. However, I'd like to configure _what_ gets logged. Currently, all of our containers' stdout/stderr is being forwarded to the wo

[2019-01-30 22:46] akramwaseem opened #229 "OMS Docker doesn't onboard itself."
Hi,
After running the OMS-Docker on a VM, and navigating to azure portal to see the logs give or take around 1 hr. I see that I need to onboard the VM and then I am able to see the logs after sometime.
Doesn't it onboard itself automatically ?
Also I dont see syslog, is this expected ?

it did onboard and running fine as a Docker container on a VM.

Let me know if additional information is needed.

[2019-01-31 16:04] akramwaseem commented on #229
Closing this issue.

[2019-01-31 16:04] #229 closed

[2019-03-18 05:40] vishiy commented on #172
@seniorquico we have this in the backlog. we plan to get to this sometime this summer.

[2019-03-26 14:47] jchauncey opened #246 "MCR repository?"
Are you publishing an image to MCR yet? I am working on moving images into MCR that are needed to support AKS and OMS is one of those images.

[2019-03-26 19:20] ferantivero opened #248 "reaching free tier limit"
after reaching free tier limit, Azure Monitor For Container (Insights) stop displaying metrics without clear reason why.

Only while visiting the log analytics namespace users realized they are being throttled.

[2019-05-14 11:35] florianrusch commented on #172
@vishiy any progress so far? We also need this feature...our cluster creates more logs than our applications :see_no_evil:

It would also be nice if we could configure this at the creation of a new cluster via the Azure Portal or for example with Terraform (Azure API / CLI). To you plan to support this case?

[2019-05-14 16:39] vishiy commented on #172
@florianrusch - This is in the works now.
Below is what we are thinking -
1) Being able to turn OFF/ON stdout/stderr logs globally (for all containers in all nodes in the cluster)
2) Being able to turn OFF/ON stdout logs globally
3) Being able to turn OFF/ON stderr logs globally
4) Provide a namespace 'exclusion' list to exclude certain namespaces for stdout (will be effective only if stderr log c

[2019-05-16 14:08] florianrusch commented on #172
The configuration on container level would be nice, but we are looking to disable the meta/control plane logs from kubernetes itself. I'm not sure, if this is the right place to ask about this. 🙈 If this is the wrong place pls let me know!

In the Azure Log Analytics Workspace we have a bunch of Insights and Logs which we doesn't need. For example `KubeNodeInventory`, `KubeEvents`, `KubeServices`

[2019-07-26 08:56] tomko80 opened #283 "Is it possible to exclude namespaces from the osmagent using wildcards?"
Would it be possible to use some sort of wildcards in the configmap when excluding namspaces from the loggin? E.g. would be great if we can exclude namspaces with a certain prefix.

https://github.com/microsoft/OMS-docker/blob/ci_feature_prod/Kubernetes/container-azm-ms-agentconfig.yaml

[2019-08-18 17:44] sayeedc opened #294 "Azure Monitor Agent support for Openshift"
Can Azure Monitor be used to collect logs from custom deployments of Openshift (i.e. not managed by Microsoft) on Azure? I’d like to run Azure monitor agents on Openshift nodes and have them to send container logs to Azure Monitor. Is this approach only limited to the Microsoft managed Openshift?

[2019-09-09 18:54] charlesakalugwu opened #306 "Possible typecheck failures when parsing agent prometheus configmap"
There is an issue with how the log analytics agent image `ciprod:ciprod07092019` parses the prometheus data collection configmap `container-azm-ms-agentconfig`.

Fields which are defined as array of strings cause the parsing to fail if specified as an empty array e.g. `fieldpass = []`.

[code]

The workaround is to comment out those fields - `exclude_namespaces`, `fieldpass`, `fielddrop`, `urls` a

[2019-09-09 20:21] rashmichandrashekar commented on #306
Tracking it here. Will fix it with the next release : https://msazure.visualstudio.com/InfrastructureInsights/_workitems/edit/5309591

[2019-09-20 17:10] mohanrao commented on #72
Hi,

Any updates on this issue?

We want to read the applications logs currently getting mounted to volumes

[2019-09-30 17:51] porrascarlos802018 opened #314 "script doesnt work"
customer mentioned script doesn't work, feel free to contact me over teams

[2019-10-08 03:42] DreamRivulet opened #323 "Need to update MdmCustomMetricAvailabilityLocations in TroubleshootError.ps1"
It seems that list in this script doesn't match the doc: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#supported-regions. Need to update the script to get the latest available locations.

[2019-10-23 14:59] 01100010011001010110010101110000 opened #329 "Prometheus metrics contain no k8s metadata"
The prometheus metrics scraping functionality doesn't seem to add any k8s metadata, which means that if there are different services with the same metrics, e.g. several services that export `go` garbage collection stats, it's not possible to tell which metrics belong to which pod/deployment/statefulset.

[2019-11-06 22:23] #329 closed

[2020-02-25 18:25] AnthonyHerman opened #365 "[Feature Request] Ability to Pass Bearer Token for Cluster Metric Collection"
Hi there,

I'm following https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-prometheus-integration in order to scrape metrics from a Kubernetes service. The configmap and guide are great however I'm not able to actually retrieve metrics because the metrics endpoint requires a bearer token. With prometheus this is normally accomplished with the `bearer_token` or `beare

[2020-05-23 04:23] MrAusnadian commented on #149
This was resolved by https://github.com/microsoft/OMS-docker/pull/227, which was pushed to master over a year ago.

I suggest closing this issue to clean up the issues list.

[2020-05-31 17:58] mohamedsaif opened #415 "ARO v4 On Boarding Script CLI syntax error (az group deployment)"
Hi,
Regarding the documentations here:
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-azure-redhat4-setup

This bash script includes invalid CLI command:
curl -LO https://raw.githubusercontent.com/microsoft/OMS-docker/ci_feature/docs/aroV4/onboarding_azuremonitor_for_containers.sh

Error:
[code]
Fix:
Update the command to the following:
[code]
az -v
azure-cli

[2020-05-31 23:53] #415 closed

[2020-08-19 17:53] j-coll opened #424 "Is this project dead?"
Is this project dead or discontinuated? If so... why?

[2020-10-05 13:24] oxr463 opened #425 "error: unable to recognize "omsagent.yaml": no matches for kind "DaemonSet" in version "extensions/v1beta1""
[code]

See: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers#configure-a-log-analytics-linux-agent-for-kubernetes

[2020-10-05 13:32] oxr463 commented on #425
I edited the file with the following change:

[code]
But I received the following errors:

[code]

[2020-11-21 18:43] vishiy commented on #365
We scrape using bearer token and TLS cert. So everything should just work out of the box, and you should just be providing the scrape endpoint URL.

[2020-11-21 18:43] #365 closed

[2021-02-08 02:08] dhirschfeld commented on #172
Just curious if this capability ever got implemented? Or if not, what the current status is?

[2021-02-08 02:20] vishiy commented on #172
This was released quite some time back. Please refer to our documentation.

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config

[2021-02-08 02:21] #172 closed

[2021-03-16 23:41] KnicKnic opened #427 "powershell scripts do not terminate correctly"
I am using https://github.com/microsoft/OMS-docker/blob/ci_feature_prod/docs/aks/mdmonboarding/mdm_onboarding.ps1
I noticed that it exits incorrectly using `exit` This sets the exit code to 0 and allows apps to continue.

You should either throw, or use exit 1 or something else. See https://devblogs.microsoft.com/powershell/windows-powershell-exit-codes/

@vishiy @rashmichandrashekar

[2021-03-25 16:01] kdziurdz opened #428 "TLS configuration explanation missing"
Hey!
According to [this commentary in config map](https://github.com/microsoft/OMS-docker/blob/ci_feature_prod/Kubernetes/container-azm-ms-agentconfig.yaml#L68) I'd need to setup TLS  in order scrape Prometheus metrics securely using HTTPS. The problem is that there is no advice how to provide such configuration OMS pod in running AKS cluster.

Pods that exposes Prometheus metrics endpoint, are on

[2021-04-20 08:38] bobsun0917 opened #429 "ContainerLog is missing when a pod has massive amount of log entries"
Hi Experts,

We use below query to count the logs of a pod and we find that when pod has massive amount of logs, Azure Monitor may fail to collect the logs.

let containerId = KubePodInventory
| where ContainerStatus == "running"
| summarize by ContainerID, Name
| where Name startswith "xxx"
| project ContainerID;
let startDateTime = datetime('2021-04-16T00:01:00.000Z');
let endDateTime = datetime

[2021-04-23 15:38] cgijb commented on #424
It's still ini the reference documentation, but I think it's dead:
https://docs.microsoft.com/en-us/azure/azure-monitor/containers/containers#configure-a-log-analytics-linux-agent-for-kubernetes

[2021-07-27 18:32] jashby44 commented on #424
It looks like the oms docker image is no longer available??

[code]

Is there an alternative Azure log analytics shipper for docker/k8s?

[2021-08-13 16:44] saaror commented on #429
Based on memory and CPU we have, we will only be able to collect limited amount of the logs. The solution is spread-out the pods which are generating high volume of logs to different nodes to spread-out the load.

[2021-08-13 16:48] saaror commented on #425
@oxr463 are you still seeing this issue? Let us know we can close the issue otherwise....

[2021-08-13 16:49] saaror commented on #424
We are working on restoring the functionality. This project isn't dead :)

[2021-08-13 16:51] saaror commented on #424
You should use Azure Monitor container insights for shipping it into Azure log analytics: https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-overview

[2021-08-13 16:52] saaror commented on #323
This should be resolved. Closing the issue.

[2021-08-13 16:53] #323 closed

[2021-08-13 16:57] austonli commented on #294
Hi, you can enable monitoring via Azure Arc, following these [steps](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/quickstart-connect-cluster?tabs=azure-cli)

Then enable monitoring w/ these [instructions](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-enable-arc-enabled-clusters?toc=/azure/azure-arc/kubernetes/toc.json)

[2021-08-13 19:22] oxr463 commented on #425
We can close this.

[2021-08-13 19:22] #425 closed

[2021-08-24 02:59] a30004053 commented on #424
That link is a rabbithole, and leads us back to this
https://docs.microsoft.com/en-us/azure/azure-monitor/containers/containers

Which, apart from listing deprecated OS versions, still points to the `microsoft/oms` docker image in the listed command

[2021-08-24 04:10] a30004053 commented on #424
Right, following these "important" instructions
![image](https://user-images.githubusercontent.com/57163790/130554270-25d2bb72-448f-401e-89ec-79d99f6f560e.png)

Running the oms-agent-for-linux installer from here
https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh

[code]

will get you going - no longer requiring the use of a specialized docker

[2021-09-06 00:21] a30004053 commented on #424
Hello! This image in the PR is built-off Xenial Xerus (Ubuntu 16.04-LTS) which has reached EOL April-2021, is there an ETA on when an image using a more recent Ubuntu release will be available?

[2021-10-14 09:18] chefcook opened #436 "AKS: omsagent-win pods restarts again and again"
omsagent-win is the pod in the kube-system namespace that is supplied with aks included if you have azure insights enabled. I use a hybrid environment here. Win & Linux are used.

output: ```kubectl get nodes```

[code]

On a linux node everything works fine.
[code]
But as soon as it goes to a windows node I have a restart all the time. NodeSelector was also checked.
[code]
output: ```kubectl -n k

[2022-06-02 16:46] microsoft-github-policy-service[bot] opened #440 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-10-26 14:22] vap78 commented on #436
Is this issue resolved?

We are at AKS 1.23.5 now and are still experiencing a lot of restarts of omsagent-win.
The KubeEvents log contains lots of events like this:

(combined from similar events): Liveness probe errored: rpc error: code = Unknown desc = failed to exec in container: failed to start exec "e515bf191f6b7332e8f46c608e8d6f2be1f4a52dc4a4e5f4b9711c3957c1a3e0": hcs::System::CreateProcess